.container-fluid {
    padding: 0px;
}

.container-fluid .jumbotron {
    border-radius: 0px;
    background: linear-gradient(to right, #000066 0%, #0066cc 100%);
}

.jumbotron h2 {
    color: white;
}

.input-container {
    padding-right: 0px;
}
.input-panel {
    min-height: 416px;
    margin-left: 15px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.form-group {
    margin-bottom: 30px;
}

.table-container {
    padding-left: 15px;
    padding-right: 0px;
}

#table-wrapper {
    position:relative;
    border: 1px solid rgb(221,221,221);
    padding: 0px;
}
#table-scroll {
  height: 416px;
  overflow:auto;  
}
#table-wrapper table {
  width:100%;
}
#table-wrapper table * {
  color:black;
}

th, td {
    text-align: center;
}

tbody{
    overflow: scroll;
}

.preview-container {
    padding-left: 15px;
}

.preview-panel {
    min-height: 416px;
    margin-right: 15px;
}

.comment {
    font-size: 10pt;
}

.footer {
    height: 200px;
    background-color: rgb(50,50,50);
}

@media (max-width:991px) and (min-width: 0px)  {   
    .input-container {
        padding-left: 15px;
        margin-right: 30px;
    } 

    .table-container {
        margin-left: 15px;
 
    }
    
    #table-wrapper {
        margin-right: 30px;
    }

    .preview-container {
        padding-left: 30px;
        padding-right: 15px;
    }
}

@media (max-width:1199px) and (min-width: 992px)  {
    
    #table-wrapper {
        margin-right: 30px;
    }
    
    .preview-container {
        padding-left: 30px;
        padding-right: 15px;
    }
}